<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.ssafy.p.i3a110.dao.CommitDao">
	<select id="getAllCommitsByPost" resultType="CommitListDto">
		select *
		from commit_list
		where pid = #{pid}
	</select>
	
	<insert id="addCommit" parameterType="CommitListDto">
		insert into commit_list 
		(uid, pid, sha, author, msg)
		values (#{uid}, #{pid}, #{sha}, #{author}, #{msg})
	</insert>
	
	<delete id="deleteCommit">
		delete
		from commit_list
		where id = #{id}
	</delete>
	
	<select id="getUidById" resultType="Integer">
		select id
		from commit_list
		where uid = #{uid}
	</select>
</mapper>    
    
    
    
    
    
    