<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.ssafy.p.i3a110.dao.DiaryDao">

	<select id="getAllBlogsByKeyword" resultType="DiaryDto">
		select *
		from diary
		where uid = #{uid} and is_proj = false and title like concat('%',#{keyword},'%')
	</select>

	<select id="getAllProjectsByKeyword" resultType="DiaryDto">
		select *
		from diary
		where uid = #{uid} and is_proj = true and title like concat('%',#{keyword},'%')
	</select>

	<select id="getAllDiariesByKeyword" resultType="DiaryDto">
		select *
		from diary
		where uid = #{uid} and title like concat('%',#{keyword},'%')
	</select>

	<select id="getDiary" resultType="DiaryDto">
		select *
		from diary
		where id = #{id}
	</select>

	<insert id="createDiary" parameterType="DiaryDto">
		insert into diary 
		(uid, title, intro,	img, git_url, is_proj, s_date, e_date)
		values (#{uid}, #{title}, #{intro}, #{img}, #{gitUrl}, #{isProj}, #{sDate}, #{eDate})
	</insert>

	<update id="updateDiary" parameterType="DiaryDto">
		update diary 
		set 
		uid = #{uid},
		title = #{title},
		intro = #{intro},
		img = #{img},
		git_url = #{gitUrl},
		is_proj = #{isProj},
		s_date = #{sDate},
		e_date = #{eDate}
		where id = #{id}
	</update>
	
	<select id="getAllWrittenProjcetName">
		select git_url
		from diary
		where uid = #{uid} and is_proj = true
	</select>
</mapper>





