<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.ssafy.p.i3a110.dao.GroupDao">
	<select id="getGroupInfoByUser" resultType="GroupDto">
		select organ.id id, organ.lid lid, organ.name name, organ.intro intro
		from organization organ join organization_relation relation
		on organ.id = relation.oid
		where uid = #{uid};
	</select>
	
	<select id="getGroupInfoById" resultType="GroupDto">
		select *
		from organization
		where id = #{id}
	</select>
	
	<select id="getMemberCntById" resultType="Integer">
		select count(*)
		from organization_relation
		where oid = #{id}
		group by oid
	</select>
	
	<select id="checkMember" resultType="GroupRelationDto">
		select *
		from organization_relation
		where uid = #{uid} and oid = #{id}
	</select>
	
	<select id="getUserListById" resultType="String">
		select uid
		from organization_relation
		where oid = #{id}		
	</select>
	
	<insert id="createGroup" parameterType="GroupDto" useGeneratedKeys="true" keyProperty="id">
		insert into organization 
		(lid, name, intro)
		values(#{lid}, #{name}, #{intro})
	</insert>
	
	<insert id="inviteGroup" parameterType="GroupRelationDto" useGeneratedKeys="true" keyProperty="id">
		insert into organization_relation
		(oid, uid)
		values(#{oid}, #{uid})
	</insert>
	
	<delete id="withdrawGroup" parameterType="GroupRelationDto">
		delete
		from organization_relation
		where uid = #{uid} and oid = #{oid}
	</delete>
	
	<update id="updateGroup" parameterType="GroupDto">
		update organization
		set
		name = #{name},
		intro = #{intro}
		where id = #{id}
	</update>
	
	<delete id="deleteGroup">
		delete
		from organization
		where id = #{id}
	</delete>
	
	<select id="getTopNUserByPost" resultType="HashMap">
		select u.id uid, u.email email, u.nickname nickname, u.intro intro, u.img img, p.cnt cnt
		from user u
			join (select u.uid uid, count(*) cnt
					from (select uid
							from organization_relation
							where oid = #{oid}) u join post p
					on u.uid = p.uid
					group by u.uid
					order by cnt desc
					limit #{cnt}) p
		on u.id = p.uid
	</select>
	
	<select id="getTopNUserByLike" resultType="HashMap">
		select u.id uid, u.email email, u.nickname nickname, u.intro intro, u.img img, l.cnt cnt
		from user u
			join (select u.uid uid, sum(cnt_like) cnt
					from (select uid
							from organization_relation
							where oid = #{oid}) u join post p
					on u.uid = p.uid
					group by u.uid
					order by cnt desc
					limit #{cnt}) l
		on u.id = l.uid
	</select>
	
</mapper>    
    
    
    
    
    
    