<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.ssafy.p.i3a110.dao.GroupDao">
	<select id="getGroupInfoByLeader" resultType="GroupDto">
		select *
		from organization
		where pid = #{pid}
	</select>
	
	<delete id="deleteCommit">
		delete
		from commit_list
		where id = #{id}
	</delete>
</mapper>    
    
    
    
    
    
    