<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.ssafy.p.i3a110.dao.LikeDao">

    <select id="getLikeCnt" resultType="int">
        select count(*) as total
        from likes
        where pid=#{pid}
    </select>

    <select id="getLike" resultType="LikeDto">
        select *
        from likes
        where uid=#{uid} and pid=#{pid}
    </select>

    <update id="updateLike" useGeneratedKeys="true" keyProperty="id">
        update likes
        set
        status=#{status}
        where uid = #{uid}
        and pid = #{pid}
    </update>
    
    <insert id="makeLike" useGeneratedKeys="true" keyProperty="id">
    	insert into likes
    	(uid, pid, status)
    	values (#{uid}, #{pid}, #{status})
    </insert>
    
    <select id="getLikeCntByUser" resultType="HashMap">
    	select p.uid uid, count(*) cnt
    	from post p join likes l
    	on p.id = l.pid
    	where l.status = 1
    	group by p.uid
    </select>
    
    <select id="getLikeCntByDiary" resultType="HashMap">
    	select p.did did, count(*) cnt
    	from post p join likes l
    	on p.id = l.pid
    	where l.status = 1
    	group by p.did
    </select>
</mapper>





