<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.ssafy.p.i3a110.dao.LikeDao">

    <select id="getLike" resultType="LikeDto">
        select *
        from likes
        where uid=#{uid} and pid=#{pid}
    </select>

    <update id="updateLike" useGeneratedKeys="true" keyProperty="id">
        update likes
        set
        status=#{status}
        where uid = #{uid}
        and pid = #{pid}
    </update>
    
    <insert id="makeLike" useGeneratedKeys="true" keyProperty="id">
    	insert into likes
    	(uid, pid, status)
    	values (#{uid}, #{pid}, #{status})
    </insert>
    
    <select id="getLikeCntByUser" resultType="HashMap">
    	select uid, sum(cnt_like) cnt
    	from post
    	group by uid
    </select>
    
    <select id="getLikeCntByDiary" resultType="HashMap">
    	select did, sum(cnt_like) cnt
    	from post
    	group by did
    </select>
    
    <select id="getLikeCntByUid" resultType="Integer">
    	select ifnull(sum(cnt_like), 0) as cnt
    	from post
    	where uid = #{uid}
    </select>
</mapper>





