<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.ssafy.p.i3a110.dao.PostDao">

    <select id="getPost" resultType="hashmap">
        select *
        from post
        where did=#{did}
        and title like concat("%",#{keyword},"%")
        and is_temp=#{isTemp}
    </select>
    
    <select id="getAllBlogPost" resultType="PostDto">
    	select p.id id,
    		   p.did did,
    		   p.uid uid,
    		   p.title title,
    		   p.content content,
    		   p.c_date c_date,
    		   p.priority priority,
    		   p.cnt_like cnt_like,
    		   p.is_temp is_temp
    	from diary d join post p
    	on d.id = p.did
    	where d.is_proj=false
    	and p.title like concat("%",#{keyword},"%")
    </select>
    
    <select id="getAllProjectPost" resultType="PostDto">
    	select p.id id,
    		   p.did did,
    		   p.uid uid,
    		   p.title title,
    		   p.content content,
    		   p.c_date c_date,
    		   p.priority priority,
    		   p.cnt_like cnt_like,
    		   p.is_temp is_temp
    	from diary d join post p
    	on d.id = p.did
    	where d.is_proj=true
    	and p.title like concat("%",#{keyword},"%")
    </select>
    
    <select id="getAllDiaryPost" resultType="PostDto">
    	select p.id id,
    		   p.did did,
    		   p.uid uid,
    		   p.title title,
    		   p.content content,
    		   p.c_date c_date,
    		   p.priority priority,
    		   p.cnt_like cnt_like,
    		   p.is_temp is_temp
    	from diary d join post p
    	on d.id = p.did
    	where p.title like concat("%",#{keyword}, "%")
    </select>
    
    <select id="getAllBlogPostByUser" resultType="PostDto">
    	select p.id id,
    		   p.did did,
    		   p.uid uid,
    		   p.title title,
    		   p.content content,
    		   p.c_date c_date,
    		   p.priority priority,
    		   p.cnt_like cnt_like,
    		   p.is_temp is_temp
    	from diary d join post p
    	on d.id = p.did
    	where d.is_proj=false
    	and p.uid=#{uid}
    	and p.title like concat("%",#{keyword},"%")
    </select>
    
    <select id="getAllProjectPostByUser" resultType="PostDto">
    	select p.id id,
    		   p.did did,
    		   p.uid uid,
    		   p.title title,
    		   p.content content,
    		   p.c_date c_date,
    		   p.priority priority,
    		   p.cnt_like cnt_like,
    		   p.is_temp is_temp
    	from diary d join post p
    	on d.id = p.did
    	where d.is_proj=true
    	and p.uid=#{uid}
    	and p.title like concat("%",#{keyword},"%")
    </select>
    
    <select id="getAllDiaryPostByUser" resultType="PostDto">
    	select p.id id,
    		   p.did did,
    		   p.uid uid,
    		   p.title title,
    		   p.content content,
    		   p.c_date c_date,
    		   p.priority priority,
    		   p.cnt_like cnt_like,
    		   p.is_temp is_temp
    	from diary d join post p
    	on d.id = p.did
    	where p.uid=#{uid}
    	and p.title like concat("%",#{keyword},"%")
    </select>

    <select id="getPostById" resultType="PostDto">
        select *
        from post
        where id=#{id}
    </select>

    <insert id="createPost">
        insert into post
        (did, uid, title, content, c_date, priority, cnt_like, is_temp)
        values
        (#{did}, #{uid}, #{title}, #{content}, #{cDate}, #{priority}, #{cntLike}, #{isTemp})
    </insert>

    <update id="updatePost">
        update post
        set
        email=#{email},
        pwd=#{pwd},
        nickname=#{nickname},
        git_id=#{gitId},
        git_url=#{gitUrl},
        intro=#{intro},
        img=#{img},
        git_token=#{gitToken},
        is_social=#{isSocial},
        is_certified=#{isCertified}
        where id=#{id}
    </update>

    <delete id="deletePost">
        delete from post
        where id=#{id}
    </delete>



</mapper>





