<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.ssafy.p.i3a110.dao.RateDao">

	<select id="getRateByUid" resultType="RateDto">
		select *
		from rate
		where uid = #{uid};
	</select>
	
	<insert id="createOdocOfAllUsers" parameterType="RateDto">
		insert into rate(uid, odoc_rate, odoc_cnt)
		values (#{uid}, #{odocRate}, #{odocCnt})
	</insert>
	
	<update id="updateOdocOfAllUsers" parameterType="RateDto">
		update rate
		set
		odoc_rate = #{odocRate},
		odoc_cnt = #{odocCnt}
		where uid = #{uid}
	</update>
	
	<insert id="createOdopOfAllUsers" parameterType="RateDto">
		insert into rate(uid, odop_rate, odop_cnt)
		values (#{uid}, #{odopRate}, #{odopCnt})
	</insert>
	
	<update id="updateOdopOfAllUsers" parameterType="RateDto">
		update rate
		set
		odop_rate = #{odopRate},
		odop_cnt = #{odopCnt}
		where uid = #{uid}
	</update>
</mapper>    
    
    
    
    
    
    